<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: 57371 -->
<!-- DateCreated: 2/11/2020 8:53:13 PM -->
<!-- 2020年2月13日 更新：因为东厂data还存在bug，暂时删除-->
<GameData>
  <Players>
    <Row
      CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_DESCRIPTION"
      CivilizationAbilityIcon="ICON_CIVILIZATION_CHINA"
      CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_NAME"
      CivilizationIcon="ICON_CIVILIZATION_CHINA"
      CivilizationName="LOC_CIVILIZATION_CHINA_NAME"
      CivilizationType="CIVILIZATION_CHINA"
      LeaderAbilityDescription="LOC_TRAIT_LEADER_ZHUDI_YONGLE_DESCRIPTION"
      LeaderAbilityIcon="ICON_LEADER_ZHUDI"
      LeaderAbilityName="LOC_TRAIT_LEADER_ZHUDI_YONGLE_NAME"
      LeaderIcon="ICON_LEADER_ZHUDI"
      LeaderName="LOC_LEADER_ZHUDI_NAME"
      LeaderType="LEADER_ZHUDI"
      Portrait="PORTRAIT_ZHUDI"/>
    <!-- Expansion 1 Support -->
    <Row Domain="Players:Expansion1_Players"
      CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_EXPANSION1_DESCRIPTION"
      CivilizationAbilityIcon="ICON_CIVILIZATION_CHINA"
      CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_NAME"
      CivilizationIcon="ICON_CIVILIZATION_CHINA"
      CivilizationName="LOC_CIVILIZATION_CHINA_NAME"
      CivilizationType="CIVILIZATION_CHINA"
      LeaderAbilityDescription="LOC_TRAIT_LEADER_ZHUDI_YONGLE_DESCRIPTION"
      LeaderAbilityIcon="ICON_LEADER_ZHUDI"
      LeaderAbilityName="LOC_TRAIT_LEADER_ZHUDI_YONGLE_NAME"
      LeaderIcon="ICON_LEADER_ZHUDI"
      LeaderName="LOC_LEADER_ZHUDI_NAME"
      LeaderType="LEADER_ZHUDI"
      Portrait="PORTRAIT_ZHUDI"/>
    <!-- Expansion 2 Support -->
    <Row Domain="Players:Expansion2_Players"
      CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_EXPANSION2_DESCRIPTION"
      CivilizationAbilityIcon="ICON_CIVILIZATION_CHINA"
      CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_NAME"
      CivilizationIcon="ICON_CIVILIZATION_CHINA"
      CivilizationName="LOC_CIVILIZATION_CHINA_NAME"
      CivilizationType="CIVILIZATION_CHINA"
      LeaderAbilityDescription="LOC_TRAIT_LEADER_ZHUDI_YONGLE_DESCRIPTION"
      LeaderAbilityIcon="ICON_LEADER_ZHUDI"
      LeaderAbilityName="LOC_TRAIT_LEADER_ZHUDI_YONGLE_NAME"
      LeaderIcon="ICON_LEADER_ZHUDI"
      LeaderName="LOC_LEADER_ZHUDI_NAME"
      LeaderType="LEADER_ZHUDI"
      Portrait="PORTRAIT_ZHUDI"/>
  </Players>
  <!--CivilizationType ="CIVILIZATION_CHINA"-->
  <PlayerItems>
    <!--  <Row
      CivilizationType ="CIVILIZATION_CHINA"
      LeaderType="LEADER_ZHUDI"
      Type="BUILDING_DONGCHANG"
      Name="LOC_BUILDING_DONGCHANG_NAME"
      Description="LOC_BUILDING_DONGCHANG_DESCRIPTION"
      Icon="ICON_BUILDING_DONGCHANG"
      SortIndex="3"/>-->
    <Row
      CivilizationType ="CIVILIZATION_CHINA"
      LeaderType="LEADER_ZHUDI"
      Type="BUILDING_TREASURE_SHIPYARD"
      Name="LOC_BUILDING_TREASURE_SHIPYARD_NAME"
      Description="LOC_BUILDING_TREASURE_SHIPYARD_DESCRIPTION"
      Icon="ICON_BUILDING_TREASURE_SHIPYARD"
      SortIndex="2"/>
    <Row
      CivilizationType ="CIVILIZATION_CHINA"
      LeaderType="LEADER_ZHUDI"
      Type="UNIT_TREASURE_SHIP"
      Name="LOC_UNIT_TREASURE_SHIP_NAME"
      Description="LOC_UNIT_TREASURE_SHIP_DESCRIPTION"
      Icon="ICON_UNIT_TREASURE_SHIP"
      SortIndex="1"/>
    <!-- Expansion 1 Support -->
    <!--  <Row
      Domain="Players:Expansion1_Players"
      CivilizationType ="CIVILIZATION_CHINA"
      LeaderType="LEADER_ZHUDI"
      Type="BUILDING_DONGCHANG"
      Name="LOC_BUILDING_DONGCHANG_NAME"
      Description="LOC_BUILDING_DONGCHANG_DESCRIPTION"
      Icon="ICON_BUILDING_DONGCHANG"
      SortIndex="3"/> -->
    <Row
        Domain="Players:Expansion1_Players"
        CivilizationType ="CIVILIZATION_CHINA"
        LeaderType="LEADER_ZHUDI"
        Type="BUILDING_TREASURE_SHIPYARD"
        Name="LOC_BUILDING_TREASURE_SHIPYARD_NAME"
        Description="LOC_BUILDING_TREASURE_SHIPYARD_DESCRIPTION"
        Icon="ICON_BUILDING_TREASURE_SHIPYARD"
        SortIndex="2"/>
    <Row
        Domain="Players:Expansion1_Players"
        CivilizationType ="CIVILIZATION_CHINA"
        LeaderType="LEADER_ZHUDI"
        Type="UNIT_TREASURE_SHIP"
        Name="LOC_UNIT_TREASURE_SHIP_NAME"
        Description="LOC_UNIT_TREASURE_SHIP_DESCRIPTION"
        Icon="ICON_UNIT_TREASURE_SHIP"
        SortIndex="1"/>
    <!-- Expansion 2 Support -->
    <!--   <Row
      Domain="Players:Expansion2_Players"
      CivilizationType ="CIVILIZATION_CHINA"
      LeaderType="LEADER_ZHUDI"
      Type="BUILDING_DONGCHANG"
      Name="LOC_BUILDING_DONGCHANG_NAME"
      Description="LOC_BUILDING_DONGCHANG_DESCRIPTION"
      Icon="ICON_BUILDING_DONGCHANG"
      SortIndex="3"/>-->
    <Row
        Domain="Players:Expansion2_Players"
        CivilizationType ="CIVILIZATION_CHINA"
        LeaderType="LEADER_ZHUDI"
        Type="BUILDING_TREASURE_SHIPYARD"
        Name="LOC_BUILDING_TREASURE_SHIPYARD_NAME"
        Description="LOC_BUILDING_TREASURE_SHIPYARD_DESCRIPTION"
        Icon="ICON_BUILDING_TREASURE_SHIPYARD"
        SortIndex="2"/>
    <Row
        Domain="Players:Expansion2_Players"
        CivilizationType ="CIVILIZATION_CHINA"
        LeaderType="LEADER_ZHUDI"
        Type="UNIT_TREASURE_SHIP"
        Name="LOC_UNIT_TREASURE_SHIP_NAME"
        Description="LOC_UNIT_TREASURE_SHIP_DESCRIPTION"
        Icon="ICON_UNIT_TREASURE_SHIP"
        SortIndex="1"/>
  </PlayerItems>


</GameData>
